[defaults]
inventory = hosts.yml
roles_path = roles
library = library
module_utils = module_utils
host_key_checking = False
remote_user = root
private_key_file = ~/.ssh/id_ed25519

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
