server {
    listen 80;
    server_name {{ domain }};
    return 301 https://$http_host$request_uri;
}
server {
    listen 127.0.0.1:8080;
    server_name {{ domain }};
    root /var/www/html/;
    index index.html;
    add_header Strict-Transport-Security "max-age=63072000" always;
}
